{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Blood Bank</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container text-center mt-5">

    <div class="card p-5 shadow">

        <h1 class="mb-4 text-danger">
            Blood Bank Management System
        </h1>

        <p class="mb-4">
            Donate Blood, Save Lives ❤️
        </p>

        <!-- Navigation -->
        <a href="{% url 'home' %}" class="btn btn-primary m-2">Home</a>

        <a href="{% url 'register' %}" class="btn btn-danger m-2">
            Register Donor
        </a>

        <a href="{% url 'search' %}" class="btn btn-warning m-2">
            Search Donor
        </a>

        <a href="{% url 'dashboard' %}" class="btn btn-success m-2">
            Dashboard
        </a>

        <a href="{% url 'login' %}" class="btn btn-dark m-2">
            Login
        </a>

    </div>

</div>

</body>
</html>
